.container {
    height: 100%;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text {
    max-width: 500px;
    height: 200px;
    resize: none;
}

.button {
    max-width: 500px;
}

.dataContainer{
    margin-top: 24px;
    border: 1px solid #747bff;
    padding: 24px;
    max-width: 500px;
}

.dataWrap{
    display: flex;
    gap: 24px;
}

.item{
    width: 50px;
}
