.container {
    height: 100%;
    width: 100%;
    padding: 60px 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.text {
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    max-height: 500px;
}

.button {
    width: 100%;
    max-width: 500px;
}

.dataContainer {
    border: 1px solid #747bff;
    padding: 24px;
    max-width: 500px;
}

.dataWrap {
    display: flex;
    gap: 24px;
}

.item {
    width: 50px;
}

.currency_open_button{
    height: 46px;
    width: 46px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 6px;
    background-color: #ccd8ff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img{
    height: 30px;
    width: 30px;
}

/* Currency Side bar*/

.currencyWrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    width: 200px;
    padding: 32px 8px;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: -200px;
    transition: left ease-in 0.3s;
    background-color: #ccd8ff;
}

.currency_open{
    left: 0;
}

.currency_close_button{
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 6px;
}
